/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.trainsetimage{
  max-width:100% ;
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.trainimage{
  max-width:100% ;
}

.train-container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px 10px;
}

.arrival-time, .train-details {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.train-times p {
  
  padding: 10px;
  margin-left: 15px;
  color: white;
  background-color: rgba(179, 195, 161, 1);
  border-radius: 10px;
}
/* .features-btn for future development */
.features-btn {
  background-color: #efcf33;
  margin-left: 15px;
  padding: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.features-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.origin, .destination, .facilities {
  padding: 0 15px;
}
.facilities-list-group li {
  display: inline;
  padding: 10px;
  background-color: #efcf33;
  border-radius: 10px;
}
/* end of features */

@media screen and (max-width: 768px) {
  .modal {
      padding-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .trainsetimage{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 575px) {
  .modal {
      padding-top: 5rem;
  }

  .train-times h4 {
      width: 100%;
      text-align: center;
  }

  .train-times p {
      width: 100%;
      text-align: center;
  }

  .arrival-time, .train-details {
      justify-content: center;
  }
}