.train-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 10px;
}

.arrival-time, .train-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.train-times p {
    
    padding: 10px;
    margin-left: 15px;
    color: white;
    background-color: rgba(179, 195, 161, 1);
    border-radius: 10px;
}

.features-btn {
    background-color: #efcf33;
    margin-left: 15px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.features-btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.origin, .destination, .facilities {
    padding: 0 15px;
}
.facilities-list-group li {
    display: inline;
    padding: 10px;
    background-color: #efcf33;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    /* .home-menu { */
        /* height: 10vh; */
        /* justify-content: center;
    } */

    /* .brand-name {
        text-align: center;
        width: 100%;
    } */
}

@media screen and (max-width: 575px) {
    .brand-name span {
        display: none;
    }

    .train-times h4 {
        width: 100%;
        text-align: center;
    }

    .train-times p {
        width: 100%;
        text-align: center;
    }

    .arrival-time, .train-details {
        justify-content: center;
    }
}