*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e50;
    height: 7.5vh;
    padding-bottom: 1.5rem;
}

.pure-menu-heading {
    color: white;
    font-weight: 600;
    font-size: 130%;
}

.brand-name {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.brand-name span {
    font-weight: normal;
    font-size: 1rem;
    padding-left: 20px;
}

.home-menu a {
    color: #6FBEF3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-bottom: 1.8rem;
}

img {
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    padding: 0 40px;
}

.train-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 10px 10px;
}

.arrival-time, .departure-time, .train-details{
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
}

.train-times p {
    
    padding: 10px;
    margin-left: 15px;
    color: white;
    background-color: rgba(179, 195, 161, 1);
    border-radius: 10px;
}

.features-btn {
    background-color: #efcf33;
    margin-left: 15px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: 1px solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.features-btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.origin, .destination, .facilities {
    padding: 0 15px;
}
.facilities-list-group li {
    display: inline;
    padding: 10px;
    background-color: #efcf33;
    border-radius: 10px;
}

footer {
    background: rgba(86, 109, 84, 1);
    width: 100%;
    padding: 10px 10px;
    text-align: right;
    position: fixed;
    bottom: 0;
    line-height: 1.3;
    height: 10vh;
}

footer h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: small;
}

footer h2 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .home-menu {
        justify-content: center;
    }

    .home-menu ul {
        padding-bottom: 10px;
    }

    .brand-name {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .brand-name span {
        display: none;
    }

    .train-times h4 {
        width: 100%;
        text-align: center;
    }

    .train-times p {
        width: 100%;
        text-align: center;
    }

    .arrival-time, .departure-time {
        justify-content: center;
    }
}